<div id="schedule">
    <div id="scheduleBody">
        @for (day of daysOfTheWeek; track day) {
            <div class="dayColumn">
                <h2 class="dayOfTheWeek">{{day}}</h2>
                <meal default="Breakfast" [time]="0" [day]="daysOfTheWeek.indexOf(day)" (setChoiceEvent)="addToSchedule($event)"/>
                <meal default="Lunch" [time]="1" [day]="daysOfTheWeek.indexOf(day)" (setChoiceEvent)="addToSchedule($event)"/>
                <meal default="Dinner" [time]="2" [day]="daysOfTheWeek.indexOf(day)" (setChoiceEvent)="addToSchedule($event)"/>
            </div>
        }
    </div>
    <br>
    <button id="submitScheduleBtn" (click)="submitSchedule()">Submit</button>
    <h1>
        @if (isLoading) {
            Calculating...
        } @else if (greeblo) {
            Health: {{greeblo.health}}%
            Cacao: {{greeblo.cacao}}%
            Days Lasted: {{greeblo.daysLasted}}
        }
    </h1>
</div>